In [1]:
"""
前処理とは？
それでは、この「前処理」とは一体どのような作業を指すのでしょうか？
簡単にいうと、「データをモデルに入力させやすい形に変形すること」です。
通常はそのままでは機械学習モデルに入力させることは困難なものがほとんどです。

具体的には、数値データの場合、明らかに傾向からずれるもの(外れ値)、あるいは、
本来値が入っていないとおかしい所にデータが存在しないことがある(これを欠損値という)を
除外する処理や、文字列になっているものを数値になおす処理、
特徴量を0から1の範囲で標準化するといった処理が考えられます。

例えば、これから取り扱っていただくSIGNATEの銀行のデータでは、
顧客の属性を説明変数としますが、属性のうち、結婚や教育の度合いなどで、
一部文字列になっている箇所があるので、これを数値に変換する必要があります。


"""

'\n前処理とは？\nそれでは、この「前処理」とは一体どのような作業を指すのでしょうか？\n簡単にいうと、「データをモデルに入力させやすい形に変形すること」です。\n通常はそのままでは機械学習モデルに入力させることは困難なものがほとんどです。\n\n具体的には、数値データの場合、明らかに傾向からずれるもの(外れ値)、あるいは、\n本来値が入っていないとおかしい所にデータが存在しないことがある(これを欠損値という)を\n除外する処理や、文字列になっているものを数値になおす処理、\n特徴量を0から1の範囲で標準化するといった処理が考えられます。\n\n例えば、これから取り扱っていただくSIGNATEの銀行のデータでは、\n顧客の属性を説明変数としますが、属性のうち、結婚や教育の度合いなどで、\n一部文字列になっている箇所があるので、これを数値に変換する必要があります。\n\n\n'

In [2]:
import pandas as pd
# 元データ。要素として文字列が含まれている
df1 = pd.DataFrame({'職業':['教師', 'プログラマー', '公務員']})
df1

       職業
0      教師
1  プログラマー
2     公務員

In [3]:
df1['職業'] = df1['職業'].str.replace('教師', '0')
df1['職業'] = df1['職業'].str.replace('プログラマー', '1')
df1['職業'] = df1['職業'].str.replace('公務員', '2')

In [4]:
df1['職業'] = df1['職業'].astype(float)

In [8]:
df1
type(print(df1))

    職業
0  0.0
1  1.0
2  2.0

NoneType

In [9]:
type(df1)

pandas.core.frame.DataFrame

In [6]:
import numpy as np

# 2番目と4番目のデータが欠損しているデータ
df2 = pd.DataFrame({'職業':['教師', np.nan, np.nan, 'プログラマー']})
print(df2)

       職業
0      教師
1     NaN
2     NaN
3  プログラマー

In [7]:
df2 = df2.dropna(subset=['職業'])

In [8]:
df2

       職業
0      教師
3  プログラマー